# Node.js
node_modules/
dist/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# MacOS / Linux / Windows system files
.DS_Store
Thumbs.db

# IDE/editor config files
.vscode/
.idea/

# Dependency lockfiles (optional if you're not locking versions strictly)
package-lock.json
